<!DOCTYPE html>
<html>
	<head>
		<title>Angular and Bootstrap Goodness</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- JS jquery -->
		<script src="js/jquery.min.js"></script>
		
		<!-- JS angular -->
		<script src="js/angular.min.js"></script>

		<!-- JS bootstrap -->
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
		<!-- JS custom -->
		<script src="js/custom.js"></script>

		
		<!-- CSS bootstrap css -->
		<link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.min.css">
		
		<!-- CSS custom css -->
		<link rel="stylesheet" type="text/css" href="stylesheet/custom.css">
	</head>
	
	<body ng-app="myApp">

		<div class="container">
			
			<!--
			<h1>Angular and Bootstrap Goodness</h1>
			
				<div ng-controller="customersCtrl"> 
					<div class="row" ng-repeat="x in names" ng-class-odd="'cssOdd'" ng-class-even="'cssEven'">
						<div class="col-md-4">{{ x.Name }}</div>
						<div class="col-md-4">{{ x.Country }}</div>
						<div class="col-md-4">{{ x.City }}</div>
					</div>
				</div>
			-->
			
			<h1>NFL Games This Week</h1>
			
				<div ng-controller="nflCtrl"> 
					<div class="row" ng-repeat="x in games" ng-class-odd="'cssOdd'" ng-class-even="'cssEven'">
						<div class="col-md-3">
                            <div class="header">
                                {{ x.homeTeamName }}
                            </div>
                        </div>
						<div class="col-md-1">
                            <div class="header">
                                VS
                            </div>
						</div>
						<div class="col-md-3">
                            <div class="header">
                                {{ x.visitTeamName }}
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="header">
                                <button ng-click="getScoreByEID(x.eid)" class="btn btn-success">Show final score</button>
                            </div>
                        </div>
                        <div class="col-md-2"><div class="header">{{ x.finalScore }}</div></div>
                    </div>
                </div>
			
			<div id="cssAddText">
				a change on
			</div>
			
		</div>


	</body>
</html>